---
const { translations } = Astro.props;
---

<footer class="py-6 bg-gray-50 border-t border-gray-200">
  <div class="container mx-auto px-4 text-center">
    <p class="text-gray-600">
      {translations.footer.made}
      <span class="text-red-500">
        <a href="https://github.com/raminsharifian" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M9 2H5L2 6v7l9 8h2l9-8V6l-3-4h-4l-3 3zm6.828 2L12 7.828L8.172 4H6L4 6.667v5.435L11.76 19h.48L20 12.102V6.667L18 4z"
              clip-rule="evenodd"
            >
            </path>
          </svg>
        </a>
      </span>
      {translations.footer.love}
    </p>
  </div>
</footer>

<style>
  svg {
    display: inline;
    height: 1em;
    width: 1em;
  }
</style>
