---
const { translations } = Astro.props;
---

<footer class="py-6 bg-gray-50 border-t border-gray-200">
  <div class="container mx-auto px-4 text-center">
    <p class="text-gray-600">
      {translations.footer.made}
      <span class="text-red-500">
        <a href="https://github.com/raminsharifian" target="_blank">♥</a>
      </span>
      {translations.footer.love}
    </p>
  </div>
</footer>
